* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

ul, li {
  list-style: none;
}

p {
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 5px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 4px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 3px;
}

html, body { height: 100%; }

body {
  margin: 0px;
  padding: 0px;
  background-color: #222;
}

@media (min-width: 125px) {
  .container {
    font-size: 9px;
    flex-direction: row;
    justify-content: center;
  }
  .game {
    width: 65%;
  }
  .story {
    width: 35%;
    padding: 2em;
  }
}

@media (min-width: 125px) and (orientation: portrait) {
  .container {
    font-size: 10px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .game {
    width: 100%;
  }
  .story {
    width: 100%;
    padding: 1em 0;
  }
}


@media (min-width: 321px)  and (orientation: portrait) {
  .container {
    font-size: 12px;
  }
}

@media (min-width: 540px) and (orientation: landscape) {
  .container {
    font-size: 9px;
  }
}

@media (min-width: 720px) {
  .container {
    font-size: 12px;
  }
}

@media (min-width: 820px) {
  .container {
    font-size: 14px;
  }
}

@media (min-width: 950px) {
  .container {
    font-size: 16px;
  }
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1430px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 3em;
  color: #fff8e1;
}

.game {
  position: relative;
  overflow: hidden;
  flex: 0 0 auto;
}

.game:before {
  content: "";
  float: left;
  padding-bottom: 75%;
}

.background {
  height: 100%;
  width: 100%;
  background-position: center left;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.loading {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
}

.ending {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  background: rgba(0,0,0,0.7);
  opacity: 0;
  z-index: 9999;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-name: ending;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes ending {
  to {
    opacity: 1;
  }
}

.ending h2 {
  font-size: 3em;
  margin-bottom: 0.8em;
}

.vignette {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 0px 0px 248px 0px rgba(0,0,0,0.75);
  z-index: 999;
  pointer-events: none;
}

.sprite {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.story {
  font-family: Palatino, Georgia, times;
  font-size: 1.6em;
  line-height: 1.3em;
  animation: fadeIn 0.7s linear forwards;
  z-index: 99;
  flex: 0 0 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
