/* fixed items */

.tree, .bedpost {
  pointer-events: none;
}

/* scenes */

.game--cottage {
  opacity: 1;
  animation-duration: 2s;
  animation-name: cottage;
}

@keyframes cottage {
  from {
    opacity: 0
  }
}
.game--river {
  opacity: 1;
  animation-duration: 2s;
  animation-name: river;
}
@keyframes river {
  from {
    opacity: 0
  }
}

.game--woods {
  opacity: 1;
  animation-duration: 2s;
  animation-name: woods;
}
@keyframes woods {
  from {
    opacity: 0
  }
}

.game--grandmas-house {
  opacity: 1;
  animation-duration: 2s;
  animation-name: grandmas-house;
}
@keyframes grandmas-house {
  from {
    opacity: 0
  }
}

/* character animations */

.lrrh-river {
  animation-duration: 8s;
  animation-name: lrrh-river;
}
@keyframes lrrh-river {
  from {
    left: -12%;
  }
}

.lrrh-woods {
  animation-duration: 6s;
  animation-name: lrrh-woods;
}
@keyframes lrrh-woods {
  from {
    left: -2%;
  }
}

.lrrh-retreat {
  animation-duration: 2s;
  animation-delay: 0.8s;
  animation-name: lrrh-retreat;
  animation-fill-mode: forwards;
}
@keyframes lrrh-retreat {
  to {
    left: 15%;
  }
}

.tempt-wolf-1 .lrrh-grandmas-house {
  animation-duration: 2s;
  animation-name: lrrh-tempt-wolf-1;
  animation-fill-mode: forwards;
}
@keyframes lrrh-tempt-wolf-1 {
  to {
    left: 9%;
  }
}

.tempt-wolf-2 .lrrh-grandmas-house {
  animation-duration: 2s;
  animation-name: lrrh-tempt-wolf-2;
  animation-fill-mode: forwards;
}
@keyframes lrrh-tempt-wolf-2 {
  from {
    left: 9%;
  }
  to {
    left: 5%;
  }
}
.tempt-wolf-3 .lrrh-grandmas-house {
  animation-duration: 0.3s;
  animation-name: lrrh-tempt-wolf-3;
  animation-fill-mode: forwards;
}
@keyframes lrrh-tempt-wolf-3 {
  from {
    left: 5%;
  }
  to {
    left: -21%;
  }
}


.wolf-approach {
  animation-duration: 3s;
  animation-name: wolf-approach;
  animation-fill-mode: forwards;
}
@keyframes wolf-approach {
  to {
    left: 26%
  }
}

.wolf-retreat {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
  animation-name: wolf-retreat;
  animation-fill-mode: forwards;
}
@keyframes wolf-retreat {
  from {
    left: 26%;
  }
  to {
    left: 102%;
  }
}

.wolf-attack {
  animation-duration: 1s;
  animation-name: wolf-attack;
  animation-fill-mode: forwards;
}
@keyframes wolf-attack {
  from {
    top: 0;
  }
  to {
    left: -110%;
  }
}
