* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
}

ul, li {
  list-style: none;
}

p {
  margin-bottom: 15px;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 5px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 4px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1em;
  padding: 3px;
}

html, body { height: 100%; }

body {
  margin: 0px;
  padding: 0px;
  background-color: #000;
}
